<div class="row">
    <div class="col-md-8">
        <h3 class="mt-10">Posts List</h3>
        <a routerLink="/add-post" class="btn btn-secondary">Add Post</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Descripon</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of (posts | async)">
                <th scope="row">{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td><button type="button" class="btn btn-warning" (click)="goEditPage(post.id)">Update Post</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>